RewriteEngine On

# www vers apex (en premier, quel que soit le protocole)
RewriteCond %{HTTP_HOST} ^www\.fannydefoort\.fr$ [NC]
RewriteRule ^ https://fannydefoort.fr%{REQUEST_URI} [L,R=301]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
